.headerHero {
  width: 85%;
  margin: 5% auto;
  display: grid;
  grid-template-columns: 45% 55%;
  grid-template-areas: 'txtHeader imgHero' 'btnHeader imgHero';
}

@media screen and (max-width: 875px) {
  .headerHero {
    grid-template-columns: 100%;
    grid-template-areas: 'txtHeader' 'imgHero' 'btnHeader';
  }
}

.txtHeader {
  grid-area: txtHeader;
  align-self: center;
}

@media screen and (max-width: 875px) {
  .txtHeader {
    justify-self: center;
    text-align: center;
    margin-bottom: 2%;
  }
}

.txtHeader__tit1 {
  font-size: 5vw;
  margin-bottom: 4%;
  -webkit-text-stroke: 2.5px #678372;
  -webkit-text-fill-color: white;
}

@media screen and (max-width: 875px) {
  .txtHeader__tit1 {
    font-size: 7vw;
    margin-bottom: 4%;
    -webkit-text-stroke: 2px #678372;
  }
}

.txtHeader__tit2 {
  font-size: 3.5vw;
}

@media screen and (max-width: 875px) {
  .txtHeader__tit2 {
    font-size: 4.6vw;
  }
}

.btnheader {
  grid-area: btnHeader;
}

@media screen and (max-width: 875px) {
  .btnheader {
    width: 100%;
    text-align: center;
  }
}

.imgHero {
  grid-area: imgHero;
  justify-self: end;
}

@media screen and (max-width: 875px) {
  .imgHero {
    margin-top: 2%;
    text-align: center;
  }
}

.imgHero__imgSld {
  width: 90%;
  float: right;
}

@media screen and (max-width: 875px) {
  .imgHero__imgSld {
    float: inherit;
  }
}

.btnH1 {
  width: 32%;
  margin-top: 6%;
  background: green;
  color: honeydew;
  border: none;
  border-radius: 6px;
  padding: 3% 0%;
  font-size: 1vw;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}

@media screen and (max-width: 875px) {
  .btnH1 {
    width: 35%;
    padding: 3%;
    font-size: 2vw;
  }
}

.btnH2 {
  background: none;
  border: 2px solid green;
  color: black;
  padding: 2.7% 0%;
  margin-left: 8%;
}

@media screen and (max-width: 875px) {
  .btnH2 {
    padding: 2.7%;
  }
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  margin-top: 2%;
}

.navMenu {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
}

.navMenu li {
  list-style: none;
}

.navMenu li a {
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 16px;
  font-family: 'poppins';
  color: black;
}

.navMenu li a:hover {
  color: green;
}

nav ul #act {
  position: relative;
}

nav ul #act ul {
  display: none;
  position: absolute;
  width: 200%;
  margin-left: -10%;
  background-color: rgba(243, 247, 245, 0.6);
}

nav ul #act ul li {
  padding-top: 10%;
  padding-left: 10%;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 40px;
  height: 4px;
  background-color: black;
  margin: 7px;
  transition: all 0.3s ease;
}

nav ul #act:hover ul {
  display: block;
}

ul li .active {
  color: #678372;
}

@media screen and (max-width: 1300px) {
  body {
    width: 100%;
  }
  .navMenu {
    width: 70%;
  }
  .navMenu li a {
    font-size: 14px;
  }
  nav .logo__logo {
    width: 90%;
  }
}

@media screen and (max-width: 875px) {
  body {
    width: 100%;
    overflow-x: hidden;
  }
  .navMenu {
    position: absolute;
    width: 70%;
    margin: 0 auto;
    left: 0;
    height: 50vh;
    top: 20vh;
    background-color: rgba(79, 85, 82, 0.6);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transform: translateX(-110%);
    transition: transform 0.8s ease-in;
    z-index: 111;
  }
}

@media screen and (max-width: 875px) and (max-width: 600px) {
  .navMenu {
    width: 90%;
    left: 5%;
    top: 15vh;
  }
}

@media screen and (max-width: 875px) and (max-width: 360px) {
  .navMenu {
    top: 20vh;
    height: 50vh;
  }
}

@media screen and (max-width: 875px) {
  .navMenu li {
    padding-left: 8%;
  }
  .navMenu li a {
    color: white;
    font-size: 2vw;
  }
}

@media screen and (max-width: 875px) and (max-width: 360px) {
  .navMenu li a {
    font-size: 3vw;
  }
}

@media screen and (max-width: 875px) {
  .navMenu li a:hover {
    color: #D0DDD5;
  }
  .burger {
    display: block;
  }
  .nav-active {
    transform: translateX(0);
  }
  nav ul #act:hover ul {
    top: -100%;
    width: 200%;
    height: 20vh;
    margin-left: 55%;
    background: none;
  }
}

@media screen and (max-width: 875px) and (max-width: 360px) {
  nav ul #act:hover ul {
    margin-left: 60%;
  }
}

@media screen and (max-width: 875px) {
  nav ul #act:hover ul li {
    padding-left: 20%;
    height: 8vh;
  }
}

@media screen and (max-width: 875px) and (max-width: 875px) {
  nav ul #act:hover ul li {
    height: 4vh;
  }
}

@media screen and (max-width: 875px) and (max-width: 360px) {
  nav ul #act:hover ul li {
    height: 7vh;
  }
}

@media screen and (max-width: 875px) {
  nav .logo__logo {
    width: 100%;
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .burger__line1 {
  transform: rotate(-45deg) translate(-5px, 10px);
}

.toggle .burger__line2 {
  opacity: 0;
}

.toggle .burger__line3 {
  transform: rotate(45deg) translate(-5px, -10px);
}

.sectionFooter {
  width: 100%;
  height: auto;
}

.footerSec {
  width: 100%;
  height: 25vw;
  background: #BAC7A7;
  background-image: url(/Assets/bg__newsletter.png);
  background-position: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

.footerSec__Tit1 {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 3%;
  font-size: 2.2vw;
  color: white;
}

@media screen and (max-width: 1300px) {
  .footerSec__Tit1 {
    font-size: 3.5vw;
  }
}

form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  margin-top: 4%;
}

.formNewsletter {
  width: 35%;
  margin: 0 auto;
}

@media screen and (max-width: 1300px) {
  .formNewsletter {
    width: 40%;
  }
}

@media screen and (max-width: 470px) {
  .formNewsletter {
    width: 80%;
  }
}

.formInput {
  padding: 1%;
  width: 70%;
  height: 3vw;
  border-radius: 35px;
  border: none;
  font-size: 1vw;
}

@media screen and (max-width: 1300px) {
  .formInput {
    width: 65%;
    font-size: 1.6vw;
    height: 4vw;
  }
}

@media screen and (max-width: 470px) {
  .formInput {
    width: 40%;
    margin-left: 25%;
  }
}

.formBtn {
  padding: 1%;
  width: 35%;
  height: 3vw;
  border-radius: 35px;
  border: none;
  color: white;
  margin-left: -10%;
  background: #678372;
  font-size: 1vw;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (max-width: 1300px) {
  .formBtn {
    width: 35%;
    height: 4vw;
    font-size: 2vw;
  }
}

@media screen and (max-width: 470px) {
  .formBtn {
    width: 22%;
    margin-left: -10%;
  }
}

.lastFooter {
  width: 100%;
  height: 100%;
  padding-bottom: 5%;
  background: #698474;
  text-align: center;
}

.lastFooter__titpart {
  font-size: 6vw;
  margin: 0 auto;
  padding-top: 4%;
}

.footerPart {
  width: 85%;
  margin: 4% auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.footerPart__imgPart {
  width: 8%;
}

.footerInfo {
  width: 85%;
  height: 14vw;
  margin: 6% auto 6%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: "fo1 fo2 fo3 fo4 fo5";
  color: white;
  line-height: 3rem;
}

@media screen and (max-width: 1300px) {
  .footerInfo {
    height: 40vw;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "fo2 fo3 fo4" "fo1 . fo5";
  }
}

@media screen and (max-width: 875px) {
  .footerInfo {
    height: 44vh;
    line-height: 2rem;
    margin-bottom: 8%;
  }
}

@media screen and (max-width: 400px) {
  .footerInfo {
    line-height: 1.5rem;
    margin-bottom: 12%;
  }
}

.foBloc1 {
  grid-area: fo1;
  font-size: 1vw;
  line-height: 4rem;
}

@media screen and (max-width: 1300px) {
  .foBloc1 {
    line-height: 2rem;
    justify-self: center;
  }
}

@media screen and (max-width: 875px) {
  .foBloc1 {
    line-height: 2rem;
  }
}

.foBloc1__footerLogo {
  width: 60%;
  height: auto;
}

.foBloc1__infoCont {
  font-size: 1vw;
  text-align: left;
}

@media screen and (max-width: 875px) {
  .foBloc1__infoCont {
    font-size: 1.7vw;
  }
}

.foBloc2 {
  grid-area: fo2;
  text-align: left;
}

@media screen and (max-width: 1300px) {
  .foBloc2 {
    justify-self: center;
  }
}

@media screen and (max-width: 470px) {
  .foBloc2 {
    line-height: 2rem;
  }
}

.foBloc2__title1 {
  font-size: 1.8vw;
}

@media screen and (max-width: 875px) {
  .foBloc2__title1 {
    font-size: 2.5vw;
  }
}

.foBloc2__title2 {
  font-size: 1.2vw;
}

@media screen and (max-width: 875px) {
  .foBloc2__title2 {
    font-size: 1.8vw;
  }
}

.foBloc2 a {
  text-decoration: none;
  color: white;
}

.foBloc3 {
  grid-area: fo3;
  text-align: left;
}

@media screen and (max-width: 1300px) {
  .foBloc3 {
    justify-self: center;
  }
}

@media screen and (max-width: 470px) {
  .foBloc3 {
    line-height: 2rem;
  }
}

.foBloc3__title1 {
  font-size: 1.8vw;
}

@media screen and (max-width: 875px) {
  .foBloc3__title1 {
    font-size: 2.5vw;
  }
}

.foBloc3__title2 {
  font-size: 1.2vw;
}

@media screen and (max-width: 875px) {
  .foBloc3__title2 {
    font-size: 1.8vw;
  }
}

.foBloc3 a {
  text-decoration: none;
  color: white;
}

.footerLien {
  margin-top: 8%;
  text-align: left;
  line-height: 4rem;
  font-weight: 300;
}

@media screen and (max-width: 1300px) {
  .footerLien {
    line-height: 2rem;
  }
}

.foBloc4 {
  grid-area: fo4;
  text-align: left;
  line-height: 5rem;
  font-weight: 200;
}

@media screen and (max-width: 1300px) {
  .foBloc4 {
    line-height: 3rem;
    justify-self: center;
  }
}

@media screen and (max-width: 470px) {
  .foBloc4 {
    line-height: 2rem;
  }
}

.foBloc4__title {
  font-size: 1.8vw;
}

@media screen and (max-width: 875px) {
  .foBloc4__title {
    font-size: 2.5vw;
  }
}

.foBloc4 a {
  text-decoration: none;
  color: white;
}

.foBloc1__icofooter {
  width: 80%;
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  cursor: pointer;
}

.foBloc5 {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
}

@media screen and (max-width: 1300px) {
  .foBloc5 {
    justify-self: center;
  }
}

.foBloc5__btnFtr {
  width: 90%;
  height: 6vw;
  border-radius: 8px;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  cursor: pointer;
}

@media screen and (max-width: 1300px) {
  .foBloc5__btnFtr {
    height: 8vw;
  }
}

@media screen and (max-width: 875px) {
  .foBloc5__btnFtr {
    height: 10vw;
  }
}

@media screen and (max-width: 470px) {
  .foBloc5__btnFtr {
    margin-top: 8%;
    height: 13vw;
    font-size: 2vw;
  }
}

.imgBTN {
  width: 16%;
  margin-top: 6%;
}

.btnFtr_marg {
  margin-bottom: 4%;
}

.icofooter {
  width: 16%;
  cursor: pointer;
}

.copyright {
  width: 100%;
  text-align: center;
  background: #D0DDD5;
  padding: 1%;
}

.copyright__spano {
  color: blue;
}

.contact {
  font-family: "Nunito", sans-serif;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.contact__title {
  margin-top: 1.5em;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  color: #698474;
  opacity: 0.5;
}

.contact__subtitle {
  margin-top: 0.5em;
  font-size: 32px;
  font-family: "Poppins", sans-serif;
  color: #698474;
}

.contact__wrapper {
  display: grid;
  grid-template-columns: 33% 34% 33%;
  grid-template-rows: 100%;
  margin-top: 80px;
}

.wrapper__tel {
  grid-area: 1/1;
}

.wrapper__tel--title {
  font-size: 16px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.wrapper__tel--icon {
  height: 80px;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.wrapper__tel--para {
  text-align: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.6em;
  font-weight: 300;
}

.wrapper__tel--num {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #698474;
  font-weight: 700;
}

.wrapper__email {
  grid-area: 1/2;
}

.wrapper__email--title {
  font-size: 16px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.wrapper__email--icon {
  height: 80px;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.wrapper__email--para {
  text-align: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.6em;
  font-weight: 300;
}

.wrapper__email--ema {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #698474;
  font-weight: 700;
}

.wrapper__local {
  grid-area: 1/3;
}

.wrapper__local--title {
  font-size: 16px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.wrapper__local--icon {
  height: 80px;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.wrapper__local--para {
  text-align: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.6em;
  font-weight: 300;
}

.wrapper__local--dest {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #698474;
  font-weight: 700;
}

.contact__container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  margin: 80px 0px;
}

.contact__label {
  display: block;
}

.contact__form {
  border: 1px solid;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 8px;
}

.contact__form--title {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  color: #698474;
}

.text-danger {
  color: red;
}

form {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}

.form__label1 {
  grid-area: 1/1;
}

.form__label1 label {
  font-weight: 700;
  display: block;
}

.form__label1 img {
  position: absolute;
  margin-top: 28px;
  margin-left: 220px;
}

.form__label1 input {
  font-family: "Nunito", sans-serif;
  margin-top: 20px;
  height: 42px;
  width: 90%;
}

.form__label2 {
  grid-area: 1/2;
}

.form__label2 label {
  font-weight: 700;
  display: block;
}

.form__label2 img {
  margin-top: 32px;
  margin-left: 240px;
  position: absolute;
}

.form__label2 input {
  font-family: "Nunito", sans-serif;
  height: 42px;
  margin-top: 18px;
  width: 100%;
}

.form__label3 {
  margin-top: 20px;
  grid-column: 1/3;
}

.form__label3 label {
  font-weight: 700;
  display: block;
}

.form__label3 input {
  margin-top: 20px;
  width: 100%;
  height: 42px;
}

.form__label3 img {
  margin-top: 28px;
  margin-left: 510px;
  position: absolute;
}

.form__label4 {
  margin-top: 40px;
  grid-column: 1/3;
}

.form__label4 label {
  font-weight: 700;
  display: block;
}

.form__label4 textarea {
  padding-top: 12px;
  padding-right: 24px;
  margin-top: 20px;
  width: 96%;
  height: 90px;
}

.form__label4 img {
  margin-top: 28px;
  margin-left: 510px;
  position: absolute;
}

.form__labelSend {
  margin-top: 20px;
  grid-column: 1/3;
}

.form__labelSend input {
  margin-top: 78px;
  width: 100%;
  border: none;
  padding: 16px;
  background-color: #698474;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.bgImg {
  margin: auto;
}

.bgImg img {
  width: 90%;
  height: auto;
  margin: auto;
  display: block;
}

@media only screen and (max-width: 575px) {
  .contact {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
  }
  .contact__subtitle {
    font-size: 16px;
  }
  .contact__wrapper {
    display: grid;
    grid-template-rows: 33% 33% 33%;
    grid-template-columns: 100%;
  }
  .wrapper__tel {
    grid-area: 1/1;
    padding-bottom: 120px;
    margin: auto;
  }
  .wrapper__email {
    margin: auto;
    grid-area: 2/1;
    padding-bottom: 120px;
  }
  .wrapper__local {
    margin: auto;
    grid-area: 3/1;
  }
  .contact__container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 32% 68%;
    margin: 80px 0px;
  }
  .contact__form {
    grid-area: 2/1;
    height: max-content;
  }
  .form__label1 {
    margin-top: 20px;
    display: block;
    grid-area: 1/1;
    grid-column: 1/3;
    text-align: left;
  }
  .form__label1 input {
    width: 100%;
  }
  .form__label1 img {
    margin-left: 360px;
  }
  .form__label2 {
    margin-top: 20px;
    display: block;
    grid-area: 2/1;
    grid-column: 1/3;
    text-align: left;
  }
  .form__label2 input {
    width: 100%;
  }
  .form__label2 img {
    margin-left: 360px;
  }
  .form__label3 {
    margin-top: 20px;
    display: block;
    grid-area: 3/1;
    grid-column: 1/3;
    text-align: left;
  }
  .form__label3 input {
    width: 100%;
  }
  .form__label3 img {
    margin-left: 360px;
  }
  .form__label4 {
    margin-top: 20px;
    margin-bottom: 80px;
    display: block;
    grid-area: 4/1;
    grid-column: 1/3;
    text-align: left;
  }
  .form__label4 img {
    margin-left: 360px;
  }
  .form__labelSend input {
    margin-top: 28px;
  }
  .bgImg {
    margin: 0px;
  }
  .bgImg img {
    width: 80%;
  }
}

@media only screen and (max-width: 768px) {
  .wrapper__tel--para {
    width: 90%;
  }
  .wrapper__email--para {
    width: 90%;
  }
  .wrapper__local--para {
    width: 90%;
  }
  .form__label1 img {
    margin-left: 110px;
  }
  .form__label2 img {
    margin-left: 118px;
  }
  .form__label2 input {
    margin-top: 20px;
  }
  .form__label3 {
    margin-top: 10px;
  }
  .form__label3 img {
    margin-top: 30px;
    margin-left: 270px;
  }
  .form__label4 {
    margin-top: 20px;
  }
  .form__label4 img {
    margin-top: 38px;
    margin-left: 270px;
  }
  .form__label4 textarea {
    width: 93%;
  }
  .form__labelSend {
    margin-top: 20px;
    grid-column: 1/3;
  }
  .form__labelSend input {
    font-size: 18px;
  }
}

/*# sourceMappingURL=contact.css.map */