.asideBar {
  position: relative;
  width: 13%;
  background: black;
  color: white;
  height: 100vh;
  font-size: 1vw;
}

.dashMenu {
  width: 100%;
  height: auto;
  padding-top: 4%;
  margin: 0 auto;
}

.dashMenu__imgIco {
  width: 60%;
  height: auto;
}

@media screen and (max-width: 960px) {
  .dashMenu__imgIco {
    width: 200%;
  }
}

.dashMenu li {
  list-style: none;
  padding: 4% 4% 4% 16%;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  margin-bottom: 8%;
}

@media screen and (max-width: 960px) {
  .dashMenu li {
    margin-top: 10%;
    margin-bottom: 25%;
    margin-left: 26%;
  }
}

.dashMenu li:active {
  background: #6a6ae4;
}

.dashMenu__divico {
  width: 20%;
}

.dashMenu__dashboard {
  margin-bottom: 40%;
}

@media screen and (max-width: 960px) {
  .dashMenu__list {
    display: none;
  }
}

#menu11 {
  padding-top: 10%;
}

#menu1 {
  padding-bottom: 20%;
}

.topBar {
  position: absolute;
  width: 87%;
  height: 3vw;
  border: 2px solid black;
  border-left: none;
  background-color: rgba(12, 12, 11, 0.8);
  top: 0;
  left: 13%;
  color: white;
}

@media screen and (max-width: 960px) {
  .topBar {
    height: 4vw;
  }
}

@media screen and (max-width: 500px) {
  .topBar {
    height: 5vw;
  }
}

@media screen and (max-width: 360px) {
  .topBar {
    height: 6vw;
  }
}

.topBar__titleAdmin {
  position: absolute;
  text-align: center;
  top: 15%;
  left: 37%;
  font-size: 1.3vw;
}

@media screen and (max-width: 960px) {
  .topBar__titleAdmin {
    font-size: 1.9vw;
    left: 30%;
  }
}

@media screen and (max-width: 500px) {
  .topBar__titleAdmin {
    font-size: 2.4vw;
    left: 25%;
  }
}

@media screen and (max-width: 360px) {
  .topBar__titleAdmin {
    font-size: 2.8vw;
    left: 20%;
  }
}

.homePage {
  position: fixed;
  width: 87%;
  height: 100%;
  top: 6%;
  left: 13%;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
  overflow-x: hidden;
}

.homePage__homeTitle {
  width: 100%;
  text-align: center;
  margin-top: 6%;
  color: #6a6ae4;
  font-size: 30px;
}

@media screen and (max-width: 800px) and (min-width: 300px) {
  .homePage__homeTitle {
    font-size: 3.5vw;
  }
}

.homePage__blocdiv {
  width: 100%;
  height: auto;
  text-align: center;
}

.homePage__illustimg {
  width: 60%;
  height: auto;
  margin: 0 auto;
}

.formDiv {
  position: relative;
  width: 100%;
  margin: 6% auto;
}

.formDiv__title {
  font-size: 1.4vw;
  text-align: center;
  padding-bottom: 3%;
}

@media screen and (max-width: 1260px) {
  .formDiv__title {
    font-size: 2vw;
  }
}

@media screen and (max-width: 999px) {
  .formDiv__title {
    font-size: 2.4vw;
  }
}

@media screen and (max-width: 830px) {
  .formDiv__title {
    font-size: 2.8vw;
  }
}

@media screen and (max-width: 710px) {
  .formDiv__title {
    font-size: 3.2vw;
  }
}

@media screen and (max-width: 480px) {
  .formDiv__title {
    font-size: 3.6vw;
  }
}

@media screen and (max-width: 400px) {
  .formDiv__title {
    font-size: 3.9vw;
  }
}

@media screen and (max-width: 320px) {
  .formDiv__title {
    font-size: 4.4vw;
  }
}

.formDiv__myForm {
  width: 40%;
  height: auto;
  justify-content: space-between;
  font-size: 1vw;
  margin: 0 auto;
}

@media screen and (max-width: 1260px) {
  .formDiv__myForm {
    width: 50%;
    font-size: 1.4vw;
  }
}

@media screen and (max-width: 999px) {
  .formDiv__myForm {
    width: 60%;
  }
}

@media screen and (max-width: 830px) {
  .formDiv__myForm {
    width: 70%;
    font-size: 1.9vw;
  }
}

@media screen and (max-width: 710px) {
  .formDiv__myForm {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 480px) {
  .formDiv__myForm {
    width: 80%;
    font-size: 2.3vw;
  }
}

@media screen and (max-width: 400px) {
  .formDiv__myForm {
    width: 90%;
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 320px) {
  .formDiv__myForm {
    width: 98%;
    font-size: 2.9vw;
  }
}

#subBtn[type="submit"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 2% 6%;
}

.uploadBtn {
  width: 26%;
  text-align: center;
  cursor: pointer;
}

@media screen and (max-width: 710px) {
  .uploadBtn {
    margin-left: 35%;
    margin-top: 3%;
  }
}

.uploadBtn:hover {
  color: white;
  background: #6a6ae4;
}

.sectionImg {
  width: 90%;
  margin: 4% auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.sectionImg__imgSlide {
  width: 22%;
  height: auto;
  border: 1px solid gray;
  text-align: center;
  align-items: center;
}

.titleSlide {
  text-align: center;
}

@media screen and (max-width: 580px) {
  .titleSlide {
    font-size: 3.9vw;
  }
}

.sectionGalerie {
  width: 100%;
  margin-top: 2%;
}

.titleSlideGal {
  margin-top: 6%;
}

/*# sourceMappingURL=../false/supadmin.css.map */