@import "./menu";
@import "./headerHero";

.gal {

    &__h1 {
        color: #d0ddd5;
        font-size: 150px;
        padding-left: 100px;
        margin: auto;

    }
}

.galerie {
    margin: auto;
    width: 90%;

    &__img {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        img {

            height: 350px;
            width: 350px;
            padding: 30px;
        }
    }

    &__but {
        text-align: center;
        padding-bottom: 30px;

        button {
            background-color: white;
            border: 1.5px solid #698474;
            border-radius: 5px;
            color: #698474;
            font-weight: bold;
            width: 205px;
            height: 70px;
            font-size: 20px;
            padding: 10px;
            margin: 20px;
            text-transform: uppercase;
        }

        button:hover {
            background-color: #698474;
            color: white;
        }
    }



    &__p1 {
        color: #698474;
        font-size: 52px;
        text-align: center;
    }



    &__p2 {
        color: #698474;
        font-weight: 500;
        letter-spacing: 10px;
        text-align: center;
        font-size: 52px;

        & a {
            text-decoration: none;
        }
    }


}



//////////////////////::::/MOB
@media screen and(max-width: 470px) {

    .gal {
        &__h1 {
            font-size: 50px;
            padding-left: 40px;
        }
    }

    .galerie {
        &__img {
            img {

                height: 300px;
                padding: 15px;
                width: 300px;

            }
        }

        &__p1,
        &__p2 {
            font-size: 20px;
        }

        &__but {
            text-align: center;
            padding-bottom: 30px;
            display: flex;


            button {
                width: 135px;
                height: 35px;
                font-size: 6px;
                margin: 10px;
            }
        }
    }


}


///////////////////:::://TAB

@media screen and(min-width:768px) and (max-width:1024px) {

    .gal {
        &__h1 {
            font-size: 100px;
        }
    }

    .galerie {
        &__img {
            img {

                height: 200px;
                padding: 15px;
                width: 200px;

            }
        }

        &__p1,
        &__p2 {
            font-size: 40px;
        }

        &__but {
            text-align: center;
            padding-bottom: 30px;

            button {
                width: 150px;
                height: 50px;
                font-size: 15px;
                margin: 10pxx;
            }
        }
    }


}




///////////////////////::::Breakpoint
@media only screen and (min-width:1022px) and (max-width:1382px) {

    .gal {
        &__h1 {
            font-size: 100px;
        }
    }

    .galerie {
        &__img {
            img {

                height: 300px;
                padding: 20px;
                width: 300px;

            }
        }

        &__p1,
        &__p2 {
            font-size: 48px;
        }
    }

}

@media only screen and (min-width:1021px) and (max-width:1132px) {

    .gal {
        &__h1 {
            font-size: 100px;
        }
    }

    .galerie {
        &__img {
            img {

                height: 270px;
                padding: 15px;
                width: 270px;

            }
        }
    }

}

@import "./footer";